//Header section
$background-color-header: #CFB590;
$text-color: #49281F;
$text-color-header: #49281F;
$background-color-menu-in-hover:#7A654F;

//Menu Mobile
$background-color-menu:  #51392C;
$text-color-menu: #758918;

//second-container
$background-color-second-container: #51392C;
$text-color-second-container: #758918;


//Post Section
$post-border-color: gray;
$text-color-post-information: gray; 

body {
	box-sizing: border-box;
	font-family: 'Roboto';
	margin: 0 0 0 0;	
}

header{	
	background-color: $background-color-header;
    color : $text-color-header;
	overflow: hidden;
	position: relative;	
	

	.logo {
		background: url(../images/logo_mobile.png);
		background-repeat: no-repeat;	
		font-weight: bold;
		font-size: 2.5em;
		height: 95px;
        margin: 0 auto; 
        width: 25%;

        @media screen and (min-width: 768px) {
		   background: url(../images/logo_tablet.png);

        }

        @media screen and (min-width: 1024px) {
		   background: url(../images/logo_desktop.png);
        }

	}

	.menu {
		background: $background-color-menu;	
		list-style: none;	
	    margin-bottom: 0;
	    margin-top: 0;
		padding-left: 0;
		padding-top: 0;	

		li {
			border-bottom: 1px solid rgba($text-color-menu, .2);

			&:last-child {
				border: none;
			}

		}

		a {
	       color: $text-color-menu;
	       display: block;
	       line-height: 3;
	       padding-left: 1em;
	       text-decoration: none;

	       &:hover {
	       	   background-color: $background-color-menu-in-hover;
	       }

		}


        @media screen and (min-width: 768px) {
        	display: flex;

        	li {
        		border-bottom: 0;
        		border-right: 1px solid rgba($text-color-menu, .2);
        		flex: auto;
        		text-align: center
        	}

        	a {
        		padding: 0em;
        	}
        }


	}

	#toggle-menu {
		background: darken($background-color-menu, 5%);
		color: $text-color-menu;
		cursor: pointer;
		line-height: 2.5em;
		padding-left: 1em;

        @media screen and (min-width: 768px) {
        	display: none;
        }

	}

}


.second-container {
    padding: 0 0 0 0; 	
   
	.phrase {
		background-color: $background-color-second-container; 
		color: $text-color-second-container;         
		font-style: italic;
		padding-left: 1em;
		padding-right: 1em;

		text-align: center;

	}
}

.posts {
	.post {
		border-bottom: 1px solid $post-border-color; 
		margin-top: 1em;		

        .header {
			.title {
				color: $text-color;
				font-size: 1.5em;
				text-align: center;
			}

			.post-information {
				color: $text-color-post-information;			

				.author {
					display: inline-block;
					margin-right: .5em;
				}

				.publish-date {
					display: inline-block;
					margin-right: .5em;

				}

				.comments {
					display: inline-block;
				}

			}        	
        }

        .body {
        	margin-top: 1em;

        	img {
        		max-width: 100%;        		
        	}

            .image-post {
            	margin-bottom: 1em;
            }

            .content {
            	margin-bottom: 2em;

            }

            .link-post {            	
            	font-size: 1.2em;

            	a {
            		color: $text-color;
            	}
 
            }

        }
	}
}
